/*登陆界面样式*/
QPushButton {
    border-radius: 6px;
    color: white;
    background-color: #1abc9c;
}

QLabel {
    color: black;
}

    QLabel#lb1 {
        color: black;
        font-size: 22;
    }

    QLabel#lb2 {
        color: black;
        font-size: 22;
    }

QLineEdit {
    border: 2px solid #bdc3c7;
    min-height: 24;
    border-radius: 6px;
}
